{% extends "base_template.html" %}
{% block title %}Carrito{% endblock %}
{% block content %}
    <h1>Carrito</h1>
    <table>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
        {% for producto in products %}
        <tr>
            <td style="width: 50px;">
                <img style="width: 100%;"
                src="../static/imgs/amungresa.jpg" alt=""></td>
            <td>{{ producto.producto_nombre }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.total }}</td>
            <td><a href="{{ url_for('delete_carrito', id=producto.id) }}">Eliminar</a></td>
            <td><a href="{{ url_for('comprar', id=producto.id) }}">Comprar</a></td>

        </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td></td>
            <td>{{ total }}</td>
        </tr>
    </table>
{% endblock %}

